<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
{{ script('viewlogs') }}
<div id="main">

</div>
<script id="log-template" type="text/x-custom-template">
<ul>
  <li class="from"></li>
  <li class="class"></li>
  <li class="timestamp"></li>
</ul>
</script>